<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965544304677-2if6e0dnbqdgitkpbdt0o0hdqnm147sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965544304677-2if6e0dnbqdgitkpbdt0o0hdqnm147sd</string>
	<key>API_KEY</key>
	<string>AIzaSyBYohmCmgFZs17RZWAPzzP16Oaup44oync</string>
	<key>GCM_SENDER_ID</key>
	<string>965544304677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stephen-essoun.allnews.allNews</string>
	<key>PROJECT_ID</key>
	<string>my-news-74a43</string>
	<key>STORAGE_BUCKET</key>
	<string>my-news-74a43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965544304677:ios:c2f2e4932a3cc86da31fcc</string>
</dict>
</plist>